<div id="table-of-contents">
<h2>Table of Contents</h2>
<div id="text-table-of-contents">
<ul>
<li><a href="#sec-1">1. English text test</a></li>
<li><a href="#sec-2">2. Много исследований посвящено пониманию принципов, по которым мозг определяет, что является человеком, а что - нет</a></li>
<li><a href="#sec-3">3. BCI можно использовать для удалённого управления роботами.</a></li>
<li><a href="#sec-4">4. Можно использовать BCI в сочетании с отслеживанием взгляда для управления компьютером</a></li>
<li><a href="#sec-5">5. При обработке ЭЭГ обычно используются самый простые вероятностные модели. Другая ситуация с fMRI, где нужно из изображения мозга извлекать очень сложную информацию. <b>(профессор из Израиля)</b></a></li>
<li><a href="#sec-6">6. Есть концепция Passive BCI, использующая эти интерфейсы как <b><b>дополнительный</b></b> источник информации. Например, его можно использовать в дополнение к отслеживанию взгляда, мимики или других показателей, вплоть до сердечного ритма. <b>Сергей Шишкин</b></a></li>
<li><a href="#sec-7">7. Поступать в Германию проще, когда у тебя есть свой проект с финансированием. Его можно получить, например, от ассоциации Daad. Для этого нужно написать Research Proposal, который профессор может подписать и отправить на грант.</a></li>
<li><a href="#sec-8">8. Концепция НейрноНет в том, чтобы закачать в область максимальное количество стартапов, что должно её прорвать. Сейчас есть применения, стоящие очень дорого, используемые очень узкой аудиторией (например, клиники), а также очень дешёвые применения, типа широкоизвестных нейроинтерфейсов. Если появится что-то среднее, то это принесёт горы денег. Но пока идей почти нет, а то что есть говорить не хотят.</a></li>
</ul>
</div>
</div>
<div id="outline-container-sec-1" class="outline-2">
<h2 id="sec-1"><span class="section-number-2">1</span> English text test</h2>
</div>
<div id="outline-container-sec-2" class="outline-2">
<h2 id="sec-2"><span class="section-number-2">2</span> Много исследований посвящено пониманию принципов, по которым мозг определяет, что является человеком, а что - нет</h2>
<div class="outline-text-2" id="text-2">
<ul class="org-ul">
<li>В этом плане, мозг очень легко обмануть. Синхронизация при синхронности тактильного ощущения воспринимаются и зрительного образа, этот образ воспринимается как часть человека (пример с резиновой рукой). Аналогично с несколькими тактильными ощущениями (пример с Пинокио).
</li>
<li>Однако даже небольшой асинхрон сильно нарушает данное ощущение.
</li>
</ul>
</div>
</div>
<div id="outline-container-sec-3" class="outline-2">
<h2 id="sec-3"><span class="section-number-2">3</span> BCI можно использовать для удалённого управления роботами.</h2>
</div>
<div id="outline-container-sec-4" class="outline-2">
<h2 id="sec-4"><span class="section-number-2">4</span> Можно использовать BCI в сочетании с отслеживанием взгляда для управления компьютером</h2>
<div class="outline-text-2" id="text-4">
<ul class="org-ul">
<li>при этом можно ловить сильную негативную волну, основанную на том, что человек ожидает событие, а оно не происходит. Однако, эта волна чётко отлавливалась только в лабораторных условиях, приближенных к вакууму.
</li>
<li>На реальных задачах возникает бесконечное число проблем, что делает метод не особо воспроизводимым.
</li>
<li>Метод был разработан из интереса, без особой мотивации к тому, почему бы не использовать клавиатуру
</li>
<li>В github лежит очень грязный код, не пригодный к использованию другими людьми
</li>
</ul>

<p>
Фуршет:
</p>
</div>
</div>
<div id="outline-container-sec-5" class="outline-2">
<h2 id="sec-5"><span class="section-number-2">5</span> При обработке ЭЭГ обычно используются самый простые вероятностные модели. Другая ситуация с fMRI, где нужно из изображения мозга извлекать очень сложную информацию. <b>(профессор из Израиля)</b></h2>
</div>
<div id="outline-container-sec-6" class="outline-2">
<h2 id="sec-6"><span class="section-number-2">6</span> Есть концепция Passive BCI, использующая эти интерфейсы как <b><b>дополнительный</b></b> источник информации. Например, его можно использовать в дополнение к отслеживанию взгляда, мимики или других показателей, вплоть до сердечного ритма. <b>Сергей Шишкин</b></h2>
</div>
<div id="outline-container-sec-7" class="outline-2">
<h2 id="sec-7"><span class="section-number-2">7</span> Поступать в Германию проще, когда у тебя есть свой проект с финансированием. Его можно получить, например, от ассоциации Daad. Для этого нужно написать Research Proposal, который профессор может подписать и отправить на грант.</h2>
</div>
<div id="outline-container-sec-8" class="outline-2">
<h2 id="sec-8"><span class="section-number-2">8</span> Концепция НейрноНет в том, чтобы закачать в область максимальное количество стартапов, что должно её прорвать. Сейчас есть применения, стоящие очень дорого, используемые очень узкой аудиторией (например, клиники), а также очень дешёвые применения, типа широкоизвестных нейроинтерфейсов. Если появится что-то среднее, то это принесёт горы денег. Но пока идей почти нет, а то что есть говорить не хотят.</h2>
</div>
